<div class="profile-container">

    <h1 class="text-center">Edit purchase</h1>

    <br>
    <div class="card">
        <div class="card-body">
            <%= render 'form' %>

            <br>
            <%= link_to 'See', @purchase,  class: "btn btn-block btn-outline-info"%>
            <%= link_to 'Back', purchases_path, class: "btn btn-block btn-light" %>
        </div>
    </div>
</div>