<div class="profile-container">

    <h1 class="text-center">Edit product</h1>

    <br>
    <div class="card">
        <div class="card-body">
            <%= render 'form' %>

            <br>
            <%= link_to 'Back', products_path, class: "btn btn-block btn-light" %>
        </div>
    </div>
</div>